<div>
    <h2>Me contacter</h2>
    <p>Email : <a href="mailto:{{email}}">{{email}}</a></p>
    <p>Téléphone : <a href="tel:{{phone}}">{{phone}}</a></p>
</div>
<div>
    <h2>Mes expériences</h2>
    <p>Pour plus d'informations sur mon parcours scolaire, vous pouvez les retrouver sur <a href="{{CV}}" target="_blank" rel="noopener"> mon CV</a>.</p>
</div>